<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>htmx + Django</title>
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
    <!-- Tailwind CSS -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
<div class="py-5 px-4 sm:px-6 max-w-5xl mx-auto">
    {% block content %}
    {% endblock %}
</div>

<!-- for htmx with django -->
<script>
      document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
      })
</script>
</body>
</html>